## Librerie

In [1]:
from scipy.optimize import minimize, basinhopping
import numpy as np
import pandas as pd

## Parametri problema

In [2]:
# Consumi famiglia 1, famiglia 2, ...
consumi = np.array([1500, 5700, 3400, 300])

# Produzioni ricetta1, ricetta2, ...
produzioni = np.array([3000, 6300, 1200])

# Ricette
#           | Ricetta1 | Ricetta2 | ...
# --------------------------------------
# Famiglia1 |          |          |
# Famiglia2 |          |          |
# ...
ricette = np.array([
    0.25, 0.2, 0.3,
    0.43, 0.5, 0.35,
    0.3, 0.27, 0.35,
    0.02, 0.03,  0
])

# Composizioni ricette per famiglia
#           | Materiale1 | Materiale2 | ...
# --------------------------------------
# Famiglia1 |            |            |
# Famiglia2 |            |            |
# ...
composizioni_famiglia = np.array([
    0.58, 0.42, 0,
    1, 0, 0,
    0, 1, 0,
    0, 0, 1
])

# Range ammissibile percentuale materiale per ricetta
#           | Materiale1        | Materiale2 | ...
# ------------------------------------------------
# Ricetta1  | (val att. ,range) |            |
# Ricetta2  |                   |            |
# ...
range_ric_mat = np.array([
    [(0.58, 0.01), (0.396, 0.003), (0.024, 0.001)], # ricetta 0
    [(0.625, 0.005), (None, None), (None, None)],
    [(0.62, 0.01), (None, None), (None, None)],
])

In [3]:
%run ./importazione.ipynb

(10,)
(28,)
(28, 10)
(28, 13)
(10, 13)
(10, 13)
(10, 13)

In [4]:
print('Verifica dimensioni matrici')
print(f'Consumi (num. famiglie)): {consumi.shape}')
print(f'Produzioni (num. ricette): {produzioni.shape}')
print(f'Ricette (famiglie x ricette): {ricette.shape}')
print(f'Composizioni (famiglie x materiali): {composizioni_famiglia.shape}')
print(f'Range (ricette x materiali): {range_ric_mat.shape}')

Verifica dimensioni matrici
Consumi (num. famiglie)): (28,)
Produzioni (num. ricette): (10,)
Ricette (famiglie x ricette): (280,)
Composizioni (famiglie x materiali): (364,)
Range (ricette x materiali): (10, 13)

## Accrocchio per compattare ricetta

In [5]:
POSITIONS_COMP = []
RICETTA_COMP = []

for index, value in enumerate(ricette):
    if value != 0:
        POSITIONS_COMP.append(index)
        RICETTA_COMP.append(value)

def rebuild_ricetta(ricetta_comp):
    rebuild = np.zeros(len(ricette))
    for index, pos in enumerate(POSITIONS_COMP):
        rebuild[pos] = ricetta_comp[index]
    return rebuild

print(rebuild_ricetta(RICETTA_COMP)[0:20])
print(ricette[0:20])
print(len(RICETTA_COMP))

[0.    0.029 0.    0.    0.    0.    0.    0.    0.    0.    0.455 0.48
 0.03  0.475 0.    0.    0.    0.    0.005 0.   ]
[0.    0.029 0.    0.    0.    0.    0.    0.    0.    0.    0.455 0.48
 0.03  0.475 0.    0.    0.    0.    0.005 0.   ]
76

## Calcolo resa globale

In [6]:
tot_consumi = np.sum(consumi)
tot_produzioni = np.sum(produzioni)
resa_globale = tot_consumi / tot_produzioni
f'{resa_globale=}'

'resa_globale=np.float64(1.0389346559077535)'

## Funzioni di calcolo

In [7]:
# Calcola matrice consumi moltiplicando matrice ricetta in input per produzioni
def calc_mat_consumi(ricetta):
    # ricetta = rebuild_ricetta(ricetta) #REBUILD
    return ricetta.reshape(-1, len(produzioni)) * produzioni #/ resa_globale

In [8]:
# Calcola vettore consumi complessivi partendo da produzioni iniziali e matrice consumi
def calc_tot_consumi(matrice_consumi):
    return np.sum(matrice_consumi, axis=1)

In [9]:
# Calcolo errore su totali consumi
def calc_err_totali(ricetta):
    matrice_consumi = calc_mat_consumi(ricetta)
    tot_consumi = calc_tot_consumi(matrice_consumi)
    tot_err = np.sqrt(np.sum(np.square(tot_consumi-consumi)))/1000
    return tot_err

In [10]:
# Calcola rese per famiglia 
# (consumi per famiglia / produzione)
def calc_tot_resa(matrice_consumi):
    return np.sum(matrice_consumi, axis=0)/produzioni

In [11]:
# Calcolo errore su percentuali prod. effettive rispetto a resa totale
def calc_error_resa(ricetta):
    matrice_consumi = calc_mat_consumi(ricetta)
    tot_resa = calc_tot_resa(matrice_consumi)
    return np.sum(np.square(tot_resa - resa_globale))

In [12]:
# Percentuali di ciascun materiale in una ricetta
def perc_mat(ricetta, id_ric):
    cons_fam = calc_mat_consumi(ricetta)
    compos = composizioni_famiglia.reshape(len(consumi), -1)
    cons_ricetta0 = np.vstack(cons_fam[:,id_ric])
    cons_materiali_ricetta0 = cons_ricetta0 * compos
    tot_cons_ricetta0 = np.sum(cons_materiali_ricetta0, axis=0)
    tot_perc_ricetta0 = tot_cons_ricetta0 / np.sum(tot_cons_ricetta0) if np.sum(tot_cons_ricetta0) != 0 else np.zeros((len(tot_cons_ricetta0),1))
    return tot_perc_ricetta0

In [13]:
# Funzione errore percentuale materiale (obiettivo: >=0)
def err_perc_mat(ricetta, id_ric, id_mat, expected_val, expected_error):
    return expected_error - np.abs(perc_mat(ricetta, id_ric=id_ric)[id_mat] - expected_val)

## Ottimizzazione resa e consumi totali

In [14]:
%%time

constraints = [
    {'type': 'eq', 'fun': calc_err_totali},
]

# bounds = list(( (0, 1) for x in range(len(RICETTA_COMP) ))) # solo se RICETTA_COMP
bounds = list(( (0, 1) for x in range(len(ricette) )))

count_iterations = 0
def callback(x, y=None):
    global count_iterations
    print(f'{count_iterations} - {calc_err_totali(x)}')
    count_iterations += 1

# Minimizzazione con TRUST-CONSTR
res = minimize(
    calc_error_resa, 
    # RICETTA_COMP, 
    ricette,
    method='SLSQP',
    constraints=constraints,
    bounds=bounds,
    callback=callback,
    options={'disp': True, 'maxiter':100}
)

0 - 98255.15238461975
1 - 3923.6961888487435
2 - 6372.73080198374
3 - 9979.397852476332
4 - 6051.470165313267
5 - 5106.856406812529
6 - 7644.159434935086
7 - 6219.257164863578
8 - 7423.741121555668
9 - 5293.798394109715
10 - 8213.322510567303
11 - 3219.092245854024
12 - 2794.0791587909266
13 - 4443.8601390845415
14 - 6987.99877122175
15 - 2285.3028015379778
16 - 2960.7144893855857
17 - 2629.6509234157506
18 - 3405.306108011548
19 - 1921.9620286776146
20 - 2136.446915577483
21 - 2398.3967240422367
22 - 1846.0039123245097
23 - 3132.688361584387
24 - 1915.435956691525
25 - 3560.554928248685
26 - 3856.0356997015056
27 - 2136.732562801342
28 - 5019.631192276814
29 - 2197.403540438962
30 - 4877.373816910804
31 - 1647.5961508833543
32 - 1736.9049133210178
33 - 1590.9204972007524
34 - 733.7665927625197
35 - 3770.493264060573
36 - 2336.3039271845196
37 - 854.4308091256071
38 - 1102.881230150193
39 - 847.1207533917252
40 - 1050.9163924938334
41 - 520.73728216331
42 - 378.6881526768173
43 - 319.519209756013
44 - 181.57809928462993
45 - 417.2070442518314
46 - 236.7808652417055
47 - 179.36748544648069
48 - 187.35688707072478
49 - 74.72607754864787
50 - 209.37739193456565
51 - 142.98653077679347
52 - 76.39518314829672
53 - 66.44814394530816
54 - 66.93966698865458
55 - 42.04115107930766
56 - 32.289263765862
57 - 31.917380514787766
58 - 49.69802296484035
59 - 31.126429756399887
60 - 23.73868557456599
61 - 56.53432327447746
62 - 26.490072983492823
63 - 33.39978515363087
64 - 38.06597302990035
65 - 58.53053665327322
66 - 48.60199083868124
67 - 58.57161035959801
68 - 64.80102338901392
69 - 63.82386663811416
70 - 64.85724725428867
71 - 32.74085220184244
72 - 29.430453420631697
73 - 39.35799976392232
74 - 10.40621823868116
75 - 8.832480972872569
76 - 45.6946360899304
77 - 9.455310159028539
78 - 7.363947358466734
79 - 5.988480330833928
80 - 4.560951206586132
81 - 5.0827827712729405
82 - 4.6986798146736035
83 - 3.964102619825091
84 - 3.267588038972049
85 - 2.524109664280499
86 - 1.7222682310838344
87 - 1.1490889959911483
88 - 1.914231418323737
89 - 0.6661941438267509
90 - 1.1092663562375873
91 - 0.5858214995458219
92 - 0.48732956757311885
93 - 0.4523834936063398
94 - 0.2518636422623437
95 - 0.19081555023626298
96 - 0.163263420893117
97 - 0.1480134552376119
98 - 0.1376703271775614
99 - 0.1132487395189889
100 - 0.07153937610017454
101 - 0.07053992983898173
102 - 0.041620451490232566
103 - 0.022638761306376296
104 - 0.019436991102860846
105 - 0.024226573026096605
106 - 0.01185979382859528
107 - 0.0071230109940427005
108 - 0.005758228305232549
109 - 0.006075104732773685
110 - 0.004953302095591977
111 - 0.003550028585688055
112 - 0.004153976910879376
113 - 0.0035862053827483173
114 - 0.0036754319831590354
115 - 0.0036698044308251998
116 - 0.003399818686681193
117 - 0.0036542453498503726
118 - 0.0033552233530589584
119 - 0.0037705952273677608
120 - 0.0034131768736218905
121 - 0.003707826861496556
122 - 0.003442986101477012
123 - 0.0034809200144387954
124 - 0.003418293114365408
125 - 0.0034330649392562878
126 - 0.003489416068090586
127 - 0.003463596557000037
128 - 0.0035449914007886093
129 - 0.0035257204269408112
130 - 0.003583254908721758
131 - 0.0036027849487381613
132 - 0.003629811855755629
133 - 0.0036381768069609776
134 - 0.003677072778710003
135 - 0.003676607092933198
136 - 0.0036837656192001064
137 - 0.00362395026988825
138 - 0.0036772582930501042
139 - 0.003638468294515318
140 - 0.003721289169153748
141 - 0.0036851756502164668
142 - 0.0037498676859816526
143 - 0.0036703571175976083
144 - 0.0037701984322619586
145 - 0.0036979568486808258
146 - 0.0037443272890315495
147 - 0.0036021521936357125
148 - 0.0037152697938741593
149 - 0.0036022021993665962
150 - 0.0037423201466267185
151 - 0.0036501216400195765
152 - 0.003755511096421728
153 - 0.003709294074828004
154 - 0.003752558689184394
155 - 0.0037641620073823098
156 - 0.0037551451677393577
157 - 0.003812765704303756
158 - 0.003727338906572521
159 - 0.0037543245209299327
160 - 0.0037000562753665826
161 - 0.0037602131982781345
162 - 0.00370236500100609
163 - 0.0037883064843121862
164 - 0.0037246903213357767
165 - 0.003824118156842276
166 - 0.0037498237121076816
167 - 0.0038525930441371133
168 - 0.003779558111801119
169 - 0.0038786135146665485
170 - 0.0038003701699717203
171 - 0.003899865115488883
172 - 0.0037632619099892415
173 - 0.003789233058260899
174 - 0.0037193951798732
175 - 0.003780623193632085
176 - 0.0037059869909986994
177 - 0.003797680839039065
178 - 0.0037282571179481287
179 - 0.003807057553998744
180 - 0.003757641138878363
181 - 0.0038305683576794177
182 - 0.0037803428924572478
183 - 0.003843958236447506
184 - 0.0038048430792462923
185 - 0.0038601022226232833
186 - 0.00382556549958544
187 - 0.003870393337406263
188 - 0.003842258762179459
189 - 0.0038844499957221943
190 - 0.003852860415608819
191 - 0.003892067117126665
192 - 0.003863755345818705
193 - 0.0038983320378904976
194 - 0.0038717750595484387
195 - 0.0039032057220847456
196 - 0.003876712637118288
197 - 0.0039016117629115344
198 - 0.0038828221749706167
199 - 0.0035102111704327574
Iteration limit reached    (Exit mode 9)
            Current function value: 4.4379191280156505e-12
            Iterations: 200
            Function evaluations: 57141
            Gradient evaluations: 200
CPU times: total: 8.31 s
Wall time: 16.5 s

In [15]:
# Esperimento
# Proviamo a escludere un constraint alla volta e vediamo se troviamo una situazione
# in cui il problema converge.

# for i in range(1, len(constraints)):
    
#     print(i)
    
#     const_red = constraints[0:i] + constraints[i+1:]

#     res = minimize(
#         calc_error_resa, 
#         ricette, 
#         method='SLSQP',
#         constraints=const_red,
#         bounds=bounds,
#         options={'disp': False, 'maxiter':100}
#     )

#     print(f'{res.success} - {res.message} ({res.nit} iterations)')

## Verifiche

In [16]:
pd.options.display.float_format = '{:.2f}'.format

In [17]:
# res.x = res.x / resa_globale
result = rebuild_ricetta(res.x)

In [18]:
print("Percentuali aggiustate (in %)")
print(np.sum(result.reshape(len(consumi), len(produzioni))*100, axis=0))
pd.DataFrame(
    result.reshape(len(consumi), len(produzioni))*100
)

Percentuali aggiustate (in %)
[12.28018827 44.67736674  8.81008806 12.28553549 32.48265871 54.35364477
  6.97776998 63.64675572 75.79765609 12.59197123]

      0     1    2    3     4     5    6     7     8    9
0  0.00  0.14 0.00 0.00  0.00  0.00 0.00  0.00  0.00 0.00
1  0.48  0.15 0.74 2.66  0.00  0.00 0.00  0.00  4.17 0.00
2  0.00  0.00 0.86 0.00  2.52  0.00 0.00  0.00  0.00 0.00
3  0.00  0.00 0.00 0.00  3.45  0.00 0.00  0.00  0.91 0.00
4  0.00  0.00 0.00 0.00  0.00 47.70 0.00  0.00  0.00 0.00
5  0.00  0.00 0.00 0.00  0.00  0.00 0.00 55.82  0.00 0.00
6  0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.00  0.00 9.04
7  0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.00 54.11 0.00
8  9.44  5.56 0.99 4.61  0.00  0.00 0.00  0.00 13.02 0.00
9  0.00  0.00 1.23 0.00  0.14  0.76 0.00  0.00  0.00 0.00
10 0.00  0.00 0.00 0.00 25.55  0.00 0.69  5.30  3.40 0.00
11 0.00  0.00 0.00 0.00  0.00  0.75 0.00  0.00  0.00 0.00
12 0.00  0.00 0.00 0.00  0.00  0.00 0.00  1.60  0.00 0.00
13 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.00  0.00 0.82
14 0.75  0.44 0.00 0.26  0.00  0.00 0.00  0.00  0.00 0.00
15 0.98  0.90 4.80 4.02  0.61  1.90 6.23  0.56  0.01 0.04
16 0.00  0.00 0.06 0.00  0.00  0.20 0.00  0.00  0.00 0.00
17 0.00  0.00 0.00 0.15  0.04  0.04 0.03  0.07  0.10 2.66
18 0.63 37.49 0.12 0.59  0.00  0.00 0.00  0.00  0.00 0.00
19 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.00  0.00 0.00
20 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.00  0.01 0.00
21 0.00  0.00 0.00 0.00  0.00  0.00 0.02  0.00  0.00 0.01
22 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.07  0.00 0.00
23 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.10  0.00 0.02
24 0.00  0.00 0.03 0.00  0.09  0.12 0.00  0.04  0.00 0.00
25 0.00  0.00 0.00 0.00  0.00  0.00 0.00  0.09  0.00 0.00
26 0.00  0.00 0.00 0.00  0.07  0.15 0.00  0.00  0.08 0.00
27 0.00  0.00 0.00 0.00  0.00  2.72 0.00  0.00  0.00 0.00

In [19]:
print("Matrice consumi")
pd.DataFrame(
    calc_mat_consumi(res.x)
)

Matrice consumi

,0,1,2,3,4,5,6,7,8,9
0,8340.36,167548.37,11557.31,686605.94,99635.55,56635.28,1721.04,39585.72,173153.41,2598.43
1,2765869.13,19532500.01,676059.83,50456348.77,354312.55,75467.78,1986.25,72322.59,652907.32,3512.86
2,8099.19,267696.73,1911664.69,645265.71,198833.20,46192.80,1496.98,25193.72,41346.14,2138.29
3,25263.68,91653.08,73193.84,837883.44,180046.24,54599.13,1232.59,29853.11,312332.85,1588.07
4,539.20,13168.78,258.98,53024.87,31.79,2710.84,3.49,60.74,32.18,432.06
5,2227.64,13806.98,2420.54,62632.58,3582.70,36159.09,1267.68,588586.01,5904.61,1688.92
6,235.53,1839.22,1609.07,10737.46,2689.87,1312.95,38.65,395.47,4413.63,354.72
7,2351.28,31129.82,5209.98,140897.21,2912.05,37011.86,1286.65,12236.00,101457.45,1726.62
8,1625756.58,9213618.61,660251.25,28885399.52,350336.35,75742.66,1993.52,71626.17,645807.94,3526.40
9,8523.19,88745.95,1578059.46,302802.80,165059.98,54605.95,1663.37,36315.89,156612.24,2499.35
10,9820.89,61192.82,26340.14,1127842.22,14112.39,47990.52,99776.24,3088.14,27729.95,1337.95
11,272.05,4774.13,101.72,25143.56,162.30,454261.56,52.38,33.49,184.13,112.59
12,2686.49,26752.29,1063.25,62277.03,218.76,1730.01,26.01,243382.92,310.08,439.57
13,1588.30,1852.93,1737.31,11134.61,3745.36,1251.71,31.92,541.52,5209.46,364.75
14,216332.80,559551.01,146797.21,776656.71,216779.37,72065.46,1935.45,61275.83,363592.59,3302.84
15,291928.76,3114592.68,749554.65,5965792.20,661615.03,82164.56,17089.68,101438.26,760902.11,9198.36
16,2832.06,172275.68,24664.40,31981.85,20206.63,48547.17,1001.60,32953.69,46788.31,2502.82
17,135127.94,35972.19,1188237.68,1221879.85,1037837.67,113453.68,71181.63,188200.52,942207.67,239873.67
18,847902.22,2730260.59,646662.66,5094050.12,337919.76,76704.63,2017.58,72568.67,598542.75,3577.38
19,62488.55,208074.59,58176.77,437307.15,241853.56,62624.46,1823.36,50904.49,360057.03,2916.18
20,3188.41,15290.26,5319.57,17218.88,1254.01,7865.25,581.18,309.15,6406.95,447.68
21,84.10,153.20,221.02,885.19,205.32,122.29,37.25,52.39,321.20,267.56
22,41.98,183.49,78.06,3560.03,132.75,13.56,14.62,23.57,208.30,185.31
23,8.95,75.61,8.43,436.31,6.86,0.92,1.17,1.47,10.99,11653.61
24,1233.49,864.07,2359.46,12639.91,2720.90,1995.88,363.75,223.86,1530.49,394.75
25,16.93,58.91,11.11,1.60,37.79,8.85,2.84,5.30,59.77,9.16
26,878.18,618.26,349.76,2512.33,1464.00,120.86,31.70,53.14,183.90,182.89
27,140.93,1422.27,145.33,8512.50,121.39,66.93,50.07,41.07,185.78,156.15

In [20]:
print('Verifica totale consumi')
pd.DataFrame(
    [calc_tot_consumi(calc_mat_consumi(res.x))]
)

Verifica totale consumi

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1247381.40,74591287.10,3147927.46,1607646.04,70262.94,718276.75,23626.57,336218.93,41534059.01,2394888.19,...,10410206.35,1486226.14,57881.34,2349.52,4441.68,12204.32,24326.55,212.26,6395.02,10842.42

In [21]:
print('Verifica errore consumi')
pd.DataFrame([calc_tot_consumi(calc_mat_consumi(res.x)) - consumi])

Verifica errore consumi

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,-0.60,-0.63,-0.42,-0.56,-0.56,-0.55,-0.43,-1.07,-0.33,-0.81,...,-0.65,-0.86,-0.66,-0.48,-0.32,-0.68,-0.45,-0.74,-0.48,-0.58

In [22]:
# np.sum(calc_mat_consumi(res.x)*resa_globale, axis=1) / consumi * 100

In [23]:
print(f'Verifica rese (resa globale: {resa_globale:.2f})')
pd.DataFrame(
    [calc_tot_resa(calc_mat_consumi(res.x))]
)

Verifica rese (resa globale: 1.04)

     0    1    2    3    4    5    6    7    8    9
0 1.04 1.04 1.04 1.04 1.04 1.04 1.04 1.04 1.04 1.04

In [24]:
print(f'Verifica errore rese (resa globale: {resa_globale:.2f})')
pd.DataFrame(
    [calc_tot_resa(calc_mat_consumi(res.x)) - resa_globale]
)

Verifica errore rese (resa globale: 1.04)

     0    1    2     3    4     5     6    7    8     9
0 0.00 0.00 0.00 -0.00 0.00 -0.00 -0.00 0.00 0.00 -0.00

### Errori percentuali materiali

In [27]:
def print_err_mat(id_ricetta, ricetta):
    return pd.DataFrame([
        perc_mat(ricette, id_ricetta) * 100,
        map(lambda x: x[0]*100, list(range_ric_mat[id_ricetta])),
        perc_mat(ricetta, id_ricetta) * 100
    ])

In [28]:
print('Percentuali materiali ricetta 0')
print_err_mat(0, res.x)

Percentuali materiali ricetta 0

     0     1    2    3    4    5    6    7    8    9    10   11    12
0 55.65 13.37 0.12 0.14 0.04 0.00 0.00 0.00 0.00 0.00 0.00 0.00 30.67
1 59.40  2.05 0.16 0.15 0.05 0.02 0.01 0.00 0.01 0.01 0.00 0.00 38.13
2 60.25  5.01 0.13 0.14 0.05 0.00 0.00 1.03 0.02 0.00 0.00 0.00 33.38

In [29]:
print('Percentuali materiali ricetta 1')
print_err_mat(1, res.x)

Percentuali materiali ricetta 1

     0     1    2    3    4    5    6    7    8    9    10   11    12
0 58.11 11.74 0.14 0.16 0.06 0.00 0.00 0.00 0.00 0.00 0.00 0.00 29.79
1 58.00  2.90 0.16 0.16 0.10 0.02 0.01 0.00 0.01 0.01 0.00 0.00 38.62
2 59.59  3.11 0.15 0.16 0.05 0.00 0.00 0.57 0.01 0.00 0.00 0.00 36.37

In [30]:
print('Percentuali materiali ricetta 2')
print_err_mat(2, res.x)

Percentuali materiali ricetta 2

     0    1    2    3    4    5    6    7    8    9    10   11    12
0 64.22 0.81 0.08 0.07 0.02 0.00 0.00 0.00 0.00 0.00 0.00 0.00 34.79
1 61.80 2.00 0.06 0.06 0.05 0.02 0.01 0.00 0.10 0.01 0.00 0.00 35.88
2 61.44 2.67 0.08 0.08 0.02 0.00 0.00 0.74 0.02 0.00 0.00 0.00 34.95

# xxx

In [31]:
# Scegliere un caso specifico (ricetta N, materiale M)

In [35]:
# Applicare algoritmo su caso specifico (P.65 documento)

In [33]:
# Valutare (con funzioni copiate da sopra) consumi totali e rese

In [34]:
# Valutare (con funzioni copiate da sopra) percentuali materiale M in ricetta N (e poi altri materiali/ricette per vedere se/come sono cambiati)