## Librerie

In [1]:
from scipy.optimize import minimize, basinhopping
import numpy as np
import pandas as pd

## Parametri problema

In [2]:
# Consumi famiglia 1, famiglia 2, ...
consumi = np.array([1500, 5700, 3400, 300])

# Produzioni ricetta1, ricetta2, ...
produzioni = np.array([3000, 6300, 1200])

# Ricette
#           | Ricetta1 | Ricetta2 | ...
# --------------------------------------
# Famiglia1 |          |          |
# Famiglia2 |          |          |
# ...
ricette = np.array([
    0.25, 0.2, 0.3,
    0.43, 0.5, 0.35,
    0.3, 0.27, 0.35,
    0.02, 0.03,  0
])

# Composizioni ricette per famiglia
#           | Materiale1 | Materiale2 | ...
# --------------------------------------
# Famiglia1 |            |            |
# Famiglia2 |            |            |
# ...
composizioni_famiglia = np.array([
    0.58, 0.42, 0,
    1, 0, 0,
    0, 1, 0,
    0, 0, 1
])

# Range ammissibile percentuale materiale per ricetta
#           | Materiale1        | Materiale2 | ...
# ------------------------------------------------
# Ricetta1  | (val att. ,range) |            |
# Ricetta2  |                   |            |
# ...
range_ric_mat = np.array([
    [(0.58, 0.01), (0.396, 0.003), (0.024, 0.001)], # ricetta 0
    [(0.625, 0.005), (None, None), (None, None)],
    [(0.62, 0.01), (None, None), (None, None)],
])

In [3]:
%run ./importazione.ipynb

(10,)
(28,)
(28, 10)
(28, 13)
(10, 13)
(10, 13)
(10, 13)

In [4]:
print('Verifica dimensioni matrici')
print(f'Consumi (num. famiglie)): {consumi.shape}')
print(f'Produzioni (num. ricette): {produzioni.shape}')
print(f'Ricette (famiglie x ricette): {ricette.shape}')
print(f'Composizioni (famiglie x materiali): {composizioni_famiglia.shape}')
print(f'Range (ricette x materiali): {range_ric_mat.shape}')

Verifica dimensioni matrici
Consumi (num. famiglie)): (28,)
Produzioni (num. ricette): (10,)
Ricette (famiglie x ricette): (280,)
Composizioni (famiglie x materiali): (364,)
Range (ricette x materiali): (10, 13)

## Accrocchio per compattare ricetta

In [5]:
POSITIONS_COMP = []
RICETTA_COMP = []

for index, value in enumerate(ricette):
    if value != 0:
        POSITIONS_COMP.append(index)
        RICETTA_COMP.append(value)

def rebuild_ricetta(ricetta_comp):
    rebuild = np.zeros(len(ricette))
    for index, pos in enumerate(POSITIONS_COMP):
        rebuild[pos] = ricetta_comp[index]
    return rebuild

print(rebuild_ricetta(RICETTA_COMP)[0:20])
print(ricette[0:20])
print(len(RICETTA_COMP))

[0.    0.029 0.    0.    0.    0.    0.    0.    0.    0.    0.455 0.48
 0.03  0.475 0.    0.    0.    0.    0.005 0.   ]
[0.    0.029 0.    0.    0.    0.    0.    0.    0.    0.    0.455 0.48
 0.03  0.475 0.    0.    0.    0.    0.005 0.   ]
76

## Calcolo resa globale

In [6]:
tot_consumi = np.sum(consumi)
tot_produzioni = np.sum(produzioni)
resa_globale = tot_consumi / tot_produzioni
f'{resa_globale=}'

'resa_globale=np.float64(1.0389346559077535)'

## Funzioni di calcolo

In [7]:
# Calcola matrice consumi moltiplicando matrice ricetta in input per produzioni
def calc_mat_consumi(ricetta):
    ricetta = rebuild_ricetta(ricetta) #REBUILD
    return ricetta.reshape(-1, len(produzioni)) * produzioni #/ resa_globale

In [8]:
# Calcola vettore consumi complessivi partendo da produzioni iniziali e matrice consumi
def calc_tot_consumi(matrice_consumi):
    return np.sum(matrice_consumi, axis=1)

In [9]:
# Calcolo errore su totali consumi
def calc_err_totali(ricetta):
    matrice_consumi = calc_mat_consumi(ricetta)
    tot_consumi = calc_tot_consumi(matrice_consumi)
    tot_err = np.sqrt(np.sum(np.square(tot_consumi-consumi)))/1000
    return tot_err

In [10]:
# Calcola rese per famiglia 
# (consumi per famiglia / produzione)
def calc_tot_resa(matrice_consumi):
    return np.sum(matrice_consumi, axis=0)/produzioni

In [11]:
# Calcolo errore su percentuali prod. effettive rispetto a resa totale
def calc_error_resa(ricetta):
    matrice_consumi = calc_mat_consumi(ricetta)
    tot_resa = calc_tot_resa(matrice_consumi)
    return np.sum(np.square(tot_resa - resa_globale))

In [12]:
# Percentuali di ciascun materiale in una ricetta
def perc_mat(ricetta, id_ric):
    cons_fam = calc_mat_consumi(ricetta)
    compos = composizioni_famiglia.reshape(len(consumi), -1)
    cons_ricetta0 = np.vstack(cons_fam[:,id_ric])
    cons_materiali_ricetta0 = cons_ricetta0 * compos
    tot_cons_ricetta0 = np.sum(cons_materiali_ricetta0, axis=0)
    tot_perc_ricetta0 = tot_cons_ricetta0 / np.sum(tot_cons_ricetta0) if np.sum(tot_cons_ricetta0) != 0 else np.zeros((len(tot_cons_ricetta0),1))
    return tot_perc_ricetta0

In [13]:
# Funzione errore percentuale materiale (obiettivo: >=0)
def err_perc_mat(ricetta, id_ric, id_mat, expected_val, expected_error):
    return expected_error - np.abs(perc_mat(ricetta, id_ric=id_ric)[id_mat] - expected_val)

## Ottimizzazione

In [51]:
%%time

constraints = [
    {'type': 'eq', 'fun': calc_err_totali},
]

for id_ric, ric in enumerate(range_ric_mat):
    for id_mat, mat in enumerate(ric):
        if not np.isnan(mat[0]):
            constr = {'type': 'ineq', 'fun': err_perc_mat, 'args': (id_ric, id_mat, mat[0], mat[1])}
            constraints.append(constr)

# constraints = (
#     {'type': 'eq', 'fun': calc_err_totali},
#     {'type': 'ineq', 'fun': err_perc_mat, 'args': (0, 0, 0.58, 0.01)},
#     {'type': 'ineq', 'fun': err_perc_mat, 'args': (0, 1, 0.396, 0.003)},
#     {'type': 'ineq', 'fun': err_perc_mat, 'args': (0, 2, 0.024, 0.001)},
#     {'type': 'ineq', 'fun': err_perc_mat, 'args': (1, 0, 0.625, 0.005)},
#     # {'type': 'ineq', 'fun': err_perc_mat, 'args': (2, 0, 0.62, 0.01)},
# )

#DEBUG
print(len(constraints))
constraints = constraints[0] #DEBUG 40 ok, oltre boom

bounds = list(( (0, 1) for x in range(len(RICETTA_COMP) )))

count_iterations = 0
def callback(x, y=None):
    global count_iterations
    print(f'{count_iterations} - {calc_err_totali(x)}')
    count_iterations += 1

# Minimizzazione con TRUST-CONSTR
res = minimize(
    calc_error_resa, 
    RICETTA_COMP, 
    # method='trust-constr', 
    method='SLSQP',
    constraints=constraints,
    bounds=bounds,
    callback=callback,
    options={'disp': True, 'maxiter':200}
)

# Basin hopping con TRUST_CONSTR
# res = basinhopping(
    
#     calc_error_resa, 
#     RICETTA_COMP,
    
#     stepsize=0.05,
#     niter=50,
    
#     minimizer_kwargs = {
#         "method":'trust-constr',
#         "constraints":constraints,
#         "bounds":bounds,
#         "callback":callback,
#         "options":{'disp': True, 'maxiter':200}
#     }
    
# )


res.x = res.x / resa_globale

print(res)

# res = basinhopping(
#     calc_error_resa, 
#     RICETTA_COMP,
#     stepsize=0.05,
#     niter=10,
    
#     minimizer_kwargs = {
#         "method":'SLSQP',
#         "constraints":constraints,
#         "bounds":bounds,
#         "callback":callback,
#         "options":{'disp': True, 'maxiter':20}
#     }
# )
# print(res)

# for i in range(10):
    
#     res = minimize(
#         calc_error_resa, 
#         res.x, 
#         method='trust-constr', 
#         # method='SLSQP',
#         constraints=constraints,
#         bounds=bounds,
#         options={'disp': True, 'maxiter':10}
#     )
        
#     res = minimize(
#         calc_error_resa, 
#         res.x,
#         method='SLSQP',
#         constraints=constraints,
#         bounds=bounds,
#         callback=callback,
#         options={'disp': True, 'maxiter':10}
#     )

# print(res)

131
0 - 44619.16825186107
1 - 5432.744497164486
2 - 7146.084231163501
3 - 4099.254219960092
4 - 19970.679917506634
5 - 5213.941946237777
6 - 4877.855310866015
7 - 9093.724971844746
8 - 11566.827931132302
9 - 7955.259532860104
10 - 10574.968854950788
11 - 4125.612111756258
12 - 5534.864996187272
13 - 5845.17305862772
14 - 5983.768391080164
15 - 2290.816075039431
16 - 2351.4132198743478
17 - 4488.856547158872
18 - 2280.721841850267
19 - 6843.533290771178
20 - 2399.6561255958823
21 - 3101.2764908924473
22 - 2628.3132839206037
23 - 4924.398180626395
24 - 1220.1763440866105
25 - 1379.3897225369842
26 - 1765.746800652831
27 - 1228.2265930557166
28 - 1272.8491924546322
29 - 1744.1488746348705
30 - 908.5505929725388
31 - 724.7214616686209
32 - 577.5381965046287
33 - 466.9388198546929
34 - 267.4681028657259
35 - 264.50672573439823
36 - 210.464458465868
37 - 299.20758759065654
38 - 183.90777077177583
39 - 115.16371555056739
40 - 91.4606730815152
41 - 105.7087716634032
42 - 83.5952490532919
43 - 85.76814626594472
44 - 78.58263283624036
45 - 64.49176678521732
46 - 70.73157883009706
47 - 92.39991035708971
48 - 100.86132855241138
49 - 85.87166273806692
50 - 74.68864551741093
51 - 62.95278265789361
52 - 59.57240413476129
53 - 59.38329706791994
54 - 39.44217429250048
55 - 33.91722109538926
56 - 22.69429554379805
57 - 25.855958469007465
58 - 22.26778885802636
59 - 18.263265512485454
60 - 15.169880424584784
61 - 13.665104014674537
62 - 8.27317968545539
63 - 4.771791007775324
64 - 3.1850313002060924
65 - 2.258375005707571
66 - 1.4737953960316685
67 - 1.0584843365961103
68 - 0.9088166197584135
69 - 0.5595984399516225
70 - 0.7197296676774518
71 - 0.7813138428258959
72 - 0.7970813825701613
73 - 0.5552093488340604
74 - 0.2727051160608372
75 - 0.1886849239079522
76 - 0.11717831067250815
77 - 0.09063689067547072
78 - 0.06187190509639724
79 - 0.032841657721311895
80 - 0.018382040206683957
81 - 0.018449403040571393
82 - 0.0114144790725058
83 - 0.008053782649825914
84 - 0.0073482541543119844
85 - 0.00702705453972462
86 - 0.005889257316005621
87 - 0.006319127709128627
88 - 0.0049285156097368865
89 - 0.004399214073024114
90 - 0.004038797461427585
91 - 0.009446121770507881
92 - 0.003844379003678661
93 - 0.004668614502994355
94 - 0.0036596174109836386
95 - 0.028923346224236854
96 - 0.0034842440562849212
97 - 0.0038501737362437167
98 - 0.003485471190064174
99 - 0.00358281107307936
100 - 0.0035176472424647202
101 - 0.0035621552852911635
102 - 0.003525012918263459
103 - 0.0035951010373078845
104 - 0.003550320272425413
105 - 0.0036256271125617
106 - 0.003575077714557837
107 - 0.0036546122771222676
108 - 0.003607843894655651
109 - 0.003687351371638186
110 - 0.003641693066575277
111 - 0.0037223058788332965
112 - 0.003677140702516056
113 - 0.0037566636439525683
114 - 0.0037133930513470947
115 - 0.003789804282233478
116 - 0.0037339954685416798
117 - 0.003744666095512048
118 - 0.003673830846060501
119 - 0.0037203809044881325
120 - 0.0036690819445533494
121 - 0.0037279502178517057
122 - 0.0036787881986644943
123 - 0.003744499315028768
124 - 0.0036947682769575586
125 - 0.0037643778902877035
126 - 0.0037126675361029505
127 - 0.003783581943021054
128 - 0.0037111978675413554
129 - 0.0037174682235091403
130 - 0.003636596627307821
131 - 0.0036878915727307465
132 - 0.0036184113753081927
133 - 0.0036916243496555464
134 - 0.0036160707965373204
135 - 0.0037050922008594186
136 - 0.0036214534330322344
137 - 0.0037217277000061036
138 - 0.0036302431479012273
139 - 0.003735989017568991
140 - 0.0036393023969803107
141 - 0.003749895639834585
142 - 0.003648600067427071
143 - 0.0037601524568488523
144 - 0.0036535615233198025
145 - 0.003741453696052401
146 - 0.003636528225416358
147 - 0.0037326673294978473
148 - 0.0036358436317674623
149 - 0.0037328354416919373
150 - 0.0036407475263983686
151 - 0.00373567093981714
152 - 0.00364711902633569
153 - 0.0037377299932161846
154 - 0.0036491509794246016
155 - 0.0037121851567834137
156 - 0.003629312891506788
157 - 0.003699694167798869
158 - 0.0036268370748751173
159 - 0.0036983885238044984
160 - 0.003629119933882113
161 - 0.0036999506880482655
162 - 0.003634039490564168
163 - 0.0037015644732237172
164 - 0.0036388776850753983
165 - 0.003702457511298465
166 - 0.003642709001505256
167 - 0.003702012827123914
168 - 0.00364308715666209
169 - 0.0036875856248963666
170 - 0.00363153320754119
171 - 0.003680035995824455
172 - 0.003629384013070755
173 - 0.0036775799641735624
174 - 0.003630242159701973
175 - 0.0036768410756582966
176 - 0.0036313031976254483
177 - 0.003676537347995994
178 - 0.0036320553588170615
179 - 0.003675190151642251
180 - 0.0036322115518429387
181 - 0.003673271159700453
182 - 0.003628846546182443
183 - 0.003659150659036866
184 - 0.0036144003716407657
185 - 0.0036508844284704914
186 - 0.0036097476929201166
187 - 0.003648836891718733
188 - 0.003608252128378825
189 - 0.003648515263742132
190 - 0.0036076330768551853
191 - 0.0036485312196232406
192 - 0.003606644584264834
193 - 0.003648063132982744
194 - 0.0036050025092581404
195 - 0.003647194756514439
196 - 0.003603073718612835
197 - 0.0036458856495426113
198 - 0.003600541237213103
199 - 0.003443124152887225
Iteration limit reached    (Exit mode 9)
            Current function value: 1.8110560105503514e-10
            Iterations: 200
            Function evaluations: 16543
            Gradient evaluations: 200
 message: Iteration limit reached
 success: False
  status: 9
     fun: 1.8110560105503514e-10
       x: [ 3.431e-02  4.615e-01 ...  7.360e-04  7.682e-03]
     nit: 200
     jac: [ 2.195e-05  5.062e-06 ...  5.999e-06  8.400e-07]
    nfev: 16543
    njev: 200
CPU times: total: 2.77 s
Wall time: 5.45 s

In [52]:
# Esperimento
# Proviamo a escludere un constraint alla volta e vediamo se troviamo una situazione
# in cui il problema converge.

# for i in range(1, len(constraints)):
    
#     print(i)
    
#     const_red = constraints[0:i] + constraints[i+1:]

#     res = minimize(
#         calc_error_resa, 
#         ricette, 
#         method='SLSQP',
#         constraints=const_red,
#         bounds=bounds,
#         options={'disp': False, 'maxiter':100}
#     )

#     print(f'{res.success} - {res.message} ({res.nit} iterations)')

## Verifiche

In [53]:
pd.options.display.float_format = '{:.2f}'.format

In [54]:
# res.x = res.x / resa_globale
result = rebuild_ricetta(res.x)

In [55]:
print("Percentuali aggiustate (in %)")
print(np.sum(result.reshape(len(consumi), len(produzioni))*100, axis=0))
pd.DataFrame(
    result.reshape(len(consumi), len(produzioni))*100
)

Percentuali aggiustate (in %)
[100.00024291 100.0010556  100.00037941  99.9995162  100.00019358
 100.00003971  99.99999418 100.0000673  100.000288   100.00000083]

       0     1     2     3     4     5     6     7     8     9
0   0.00  3.43  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
1  46.15 53.24  5.56 53.09  0.00  0.00  0.00  0.00 11.34  0.00
2   0.00  0.00 36.96  0.00  7.07  0.00  0.00  0.00  0.00  0.00
3   0.00  0.00  0.00  0.00 11.75  0.00  0.00  0.00 22.07  0.00
4   0.00  0.00  0.00  0.00  0.00  4.98  0.00  0.00  0.00  0.00
5   0.00  0.00  0.00  0.00  0.00  0.00  0.00 44.03  0.00  0.00
6   0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  7.96
7   0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  6.46  0.00
8  27.22 24.86  5.36 30.82  0.00  0.00  0.00  0.00 11.20  0.00
9   0.00  0.00 26.55  0.00  3.14 14.82  0.00  0.00  0.00  0.00
10  0.00  0.00  0.00  0.00  7.34  0.00 50.80  9.31 16.81  0.00
11  0.00  0.00  0.00  0.00  0.00 34.37  0.00  0.00  0.00  0.00
12  0.00  0.00  0.00  0.00  0.00  0.00  0.00 20.77  0.00  0.00
13  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  9.25
14  7.17  2.84  0.00  0.98  0.00  0.00  0.00  0.00  0.00  0.00
15  5.06  7.94  6.48  6.77 11.16 15.06 10.23  8.09 13.39  1.74
16  0.00  0.10  0.42  0.08  0.00 12.50  1.73  3.31  0.00  0.00
17  0.00  0.00 13.11  1.68 21.31 17.46 36.18 13.61 17.54 79.45
18 14.40  7.59  5.31  6.58  0.00  0.00  0.00  0.00  0.00  0.00
19  0.00  0.00  0.00  0.00 38.13  0.00  0.00  0.00  0.00  0.00
20  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.11  0.00
21  0.00  0.00  0.00  0.00  0.00  0.00  1.06  0.00  0.00  0.05
22  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.27  0.00  0.00
23  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.46  0.00  1.57
24  0.00  0.00  0.26  0.00  0.04  0.03  0.00  0.13  0.00  0.00
25  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.01  0.00  0.00
26  0.00  0.00  0.00  0.00  0.06  0.02  0.00  0.00  0.07  0.00
27  0.00  0.00  0.00  0.00  0.00  0.77  0.00  0.00  0.00  0.00

In [56]:
print("Matrice consumi")
pd.DataFrame(
    calc_mat_consumi(res.x)
)

Matrice consumi

,0,1,2,3,4,5,6,7,8,9
0,0.00,1200635.14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2675828.40,18631914.11,416258.33,49503377.82,0.00,0.00,0.00,0.00,568558.30,0.00
2,0.00,0.00,2764548.29,0.00,265408.86,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.00,440768.95,0.00,0.00,0.00,1106629.35,0.00
4,0.00,0.00,0.00,0.00,0.00,67629.67,0.00,0.00,0.00,0.00
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,691358.85,0.00,0.00
6,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,22740.91
7,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,323618.85,0.00
8,1578434.18,8699282.68,401019.64,28737094.20,0.00,0.00,0.00,0.00,561715.91,0.00
9,0.00,0.00,1986008.44,0.00,117848.10,201282.11,0.00,0.00,0.00,0.00
10,0.00,0.00,0.00,0.00,275202.00,0.00,102050.32,146203.84,842589.39,0.00
11,0.00,0.00,0.00,0.00,0.00,466918.86,0.00,0.00,0.00,0.00
12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,326186.72,0.00,0.00
13,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26429.70
14,415515.06,993823.40,0.00,918323.99,0.00,0.00,0.00,0.00,0.00,0.00
15,293176.41,2777295.78,484620.33,6311412.32,418742.76,204592.63,20556.00,126975.96,671438.52,4967.38
16,0.00,36337.55,31049.89,76773.86,0.00,169810.01,3480.01,51921.64,0.00,0.00
17,0.00,0.00,981062.05,1569520.55,799528.30,237156.33,72674.36,213755.65,879271.04,227106.41
18,835092.34,2654247.73,396864.34,6133873.81,0.00,0.00,0.00,0.00,0.00,0.00
19,0.00,0.00,0.00,0.00,1430529.07,0.00,0.00,0.00,0.00,0.00
20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,55712.32,0.00
21,0.00,0.00,0.00,0.00,0.00,0.00,2126.51,0.00,0.00,135.50
22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4274.77,0.00,0.00
23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7267.74,0.00,4479.21
24,0.00,0.00,19442.38,0.00,1601.56,379.41,0.00,1991.30,0.00,0.00
25,0.00,0.00,0.00,0.00,0.00,0.00,0.00,204.49,0.00,0.00
26,0.00,0.00,0.00,0.00,2137.26,327.80,0.00,0.00,3689.95,0.00
27,0.00,0.00,0.00,0.00,0.00,10436.41,0.00,0.00,0.00,0.00

In [57]:
print('Verifica totale consumi')
pd.DataFrame(
    [calc_tot_consumi(calc_mat_consumi(res.x))]
)

Verifica totale consumi

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1200635.14,71795936.97,3029957.15,1547398.30,67629.67,691358.85,22740.91,323618.85,39977546.61,2305138.65,...,10020078.23,1430529.07,55712.32,2262.00,4274.77,11746.94,23414.65,204.49,6155.01,10436.41

In [58]:
print('Verifica errore consumi')
pd.DataFrame([calc_tot_consumi(calc_mat_consumi(res.x))*resa_globale - consumi])

Verifica errore consumi

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,-0.55,-0.66,-0.39,-0.88,-0.69,-0.63,-0.68,-1.16,-0.70,-0.57,...,-0.48,-0.77,-0.54,0.07,-0.79,-0.69,-0.71,-0.55,-0.84,-0.25

In [59]:
# np.sum(calc_mat_consumi(res.x)*resa_globale, axis=1) / consumi * 100

In [60]:
print(f'Verifica rese (resa globale: {resa_globale:.2f})')
pd.DataFrame(
    [calc_tot_resa(calc_mat_consumi(res.x))]
)

Verifica rese (resa globale: 1.04)

     0    1    2    3    4    5    6    7    8    9
0 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00

In [61]:
print(f'Verifica errore rese (resa globale: {resa_globale:.2f})')
pd.DataFrame(
    [calc_tot_resa(calc_mat_consumi(res.x)) - resa_globale]
)

Verifica errore rese (resa globale: 1.04)

      0     1     2     3     4     5     6     7     8     9
0 -0.04 -0.04 -0.04 -0.04 -0.04 -0.04 -0.04 -0.04 -0.04 -0.04

### Errori percentuali materiali

In [62]:
def print_err_mat(id_ricetta, ricetta):
    return pd.DataFrame([
        perc_mat(RICETTA_COMP, id_ricetta) * 100,
        map(lambda x: x[0]*100, list(range_ric_mat[id_ricetta])),
        perc_mat(ricetta, id_ricetta) * 100
    ])

In [63]:
print('Percentuali materiali ricetta 0')
print_err_mat(0, res.x)

Percentuali materiali ricetta 0

     0     1    2    3    4    5    6    7    8    9    10   11    12
0 55.65 13.37 0.12 0.14 0.04 0.00 0.00 0.00 0.00 0.00 0.00 0.00 30.67
1 59.40  2.05 0.16 0.15 0.05 0.02 0.01 0.00 0.01 0.01 0.00 0.00 38.13
2 58.58  8.58 0.12 0.14 0.05 0.00 0.00 0.00 0.00 0.00 0.00 0.00 32.53

In [64]:
print('Percentuali materiali ricetta 1')
print_err_mat(1, res.x)

Percentuali materiali ricetta 1

     0     1    2    3    4    5    6    7    8    9    10   11    12
0 58.11 11.74 0.14 0.16 0.06 0.00 0.00 0.00 0.00 0.00 0.00 0.00 29.79
1 58.00  2.90 0.16 0.16 0.10 0.02 0.01 0.00 0.01 0.01 0.00 0.00 38.62
2 59.07  4.42 0.15 0.17 0.06 0.00 0.00 0.00 0.00 0.00 0.00 0.00 36.12

In [65]:
print('Percentuali materiali ricetta 2')
print_err_mat(2, res.x)

Percentuali materiali ricetta 2

     0    1    2    3    4    5    6    7    8    9    10   11    12
0 64.22 0.81 0.08 0.07 0.02 0.00 0.00 0.00 0.00 0.00 0.00 0.00 34.79
1 61.80 2.00 0.06 0.06 0.05 0.02 0.01 0.00 0.10 0.01 0.00 0.00 35.88
2 62.74 0.88 0.08 0.08 0.02 0.00 0.00 0.00 0.00 0.00 0.00 0.00 36.20

### Funzioni errore

In [66]:
for index,c in enumerate(constraints):
    # print(c)
    if 'args' in c:
        print(f"{index} - {c['fun'](res.x, *c['args']):.4f} (ric:{c['args'][0]} mat:{c['args'][1]})")
    else:
        print(c['fun'](res.x))

TypeError: string indices must be integers, not 'str'

# ?

In [ ]:
r = rebuild_ricetta(res.x).reshape(len(consumi), len(produzioni))
print(np.sum(r, axis=0))
print(np.sum(r*produzioni, axis=1))
print(np.sum(r*produzioni, axis=1) - consumi)
print(np.sum(np.sum(r*produzioni, axis=1) - consumi))

In [ ]:
#pd.DataFrame(rebuild_ricetta(res.x)).to_csv('trust_constr_5k_iter.csv')